@media screen and (max-width:950px){
    .header{
        flex-direction: column;
        align-items: center;
    }
    .logo1{
        width: 100px;
        flex-direction: column;
        }
    h1{
        padding: 0%;
        font-family: Hunters;
        font-size: 100px;
        color: white;
        flex-direction: column;
    }
    .redes{
        align-self: center;
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .redes_foot{
            display: flex;
            align-self:center;
        }
    }
    .logo2{
        width: 80px;
    }
        .pie{
            color: white;
            font-size: 15px;
    }
    .red{
        width: 40px;
        padding-bottom: 30px;
    }
}