@font-face {
    font-family: Hunters;
    src: url(../FONTS/Hunters.otf);
}
h2{
    font-size: 35px;
    background-color: $soft01;
    padding: 15px;
}
h3{
    font-size: 25px;
    text-align: center;
    padding: 20px;
}